
@import url(../success/success.component.scss);

input[type=text] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 2px solid red;
     border-radius: 4px;
   }


  


select{
  width: 462px;
  height: 39px;
  outline: none;
  border: 1px solid #fff;
  /* padding: 1rem; */
  font-size: 1.1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  cursor: pointer;
}
.bts
 {
  width: 100%;
}












  